url: https://www.emfink.net # the base hostname & protocol for your site
baseurl: /CauseLawyering # the subpath of your site, e.g. /blog/
title: Cause Lawyering 
name: Eric M. Fink

last_updated: 15 January 2021

author: Eric M. Fink
position: Associate Professor
institution: Elon Law School
street: 201 North Greene Street
city: Greensboro
state: North Carolina
zip: '27401'
email: efink@elon.edu
phone: 336-279-9334
web: emfink.net/ElonLaw

collections: 
  cases: 
    output: true 
  exams:
    output: true
  notes: 
    output: true 
  outlines:
    output: true
  problems:
    output: true 
  questions:
    output: true
  readings: 
    output: true 
  statutes: 
    output: true 
  visuals:
    output: true

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------

# Build settings

# deployment
host: localhost
port: 4000


markdown: kramdown
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
permalink: /articles/:title
timezone: America/New_York
excerpt_separator: <!--more-->  # you can specify your own separator, of course.
include: ['_pages']
exclude: ['Gemfile.lock', admin, .admin]
keep_files: [.admin]
post:
  template: _post.txt
  extension: md
page:
  template: _page.txt
  extension: md
editor: atom
git:
  branch: master
transfer:
  command: rsync
  settings: -av
  source: _site/
  destination: ~/Git/EricMFink.github.com/

# -----------------------------------------------------------------------------
# Other settings
# -----------------------------------------------------------------------------
jquery_version: "1.12.4"
anchorjs_version: "3.2.2"
